body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  width: 320px;
  box-sizing: border-box;
}

h1 {
  color: #ff6347;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#taskInputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#addTaskButton {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#addTaskButton:hover {
  background-color: #e55337;
}

#taskList {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.task-item.completed {
  background-color: #d3ffd3;
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-text {
  flex: 1;
  font-size: 16px;
}
